# Now we can start singling out files we actually want to exclude in the checkout project
composer.phar
phpDocumentor.phar
bower_components
node_modules
/dist
/docs
/vendor
/.idea
.DS_Store
assets/front
templates/**/*.css
templates/**/*.css.map
templates/**/theme.js
templates/**/theme.js.map
templates/**/theme.min.js
.env
/cypress/videos
/cypress/screenshots
cypress.overrides.json