$wrap-row-bot-margin: map-get($grid-sg, gutter) * 1.25;
$gutter: map-get($grid, gutter);

html {
  background-color: #ffffff !important;
}

#cfw-login-slide {
  display: none;
  margin-bottom: $wrap-row-bot-margin;
}

#cfw-content {
  margin-top: 2em;
}

#cfw-logo-container, #cfw-logo-container-mobile {
  .cfw-logo {
    padding-top: 0;

    .logo {
      margin-top: 0;
    }
  }
}

.cfw-input-wrap-row {
  margin-bottom: $wrap-row-bot-margin;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.pad-bottom .form-row {
  margin-bottom: $wrap-row-bot-margin;
}

#cfw-breadcrumb {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
  display: flex;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > a {
      font-size: 0.75em;
      text-decoration: none;
      color: #333;
    }

    &:not(.active) > a {
      color: rgba(0,0,0,0.5);
    }

    &:not(:last-child):after {
      content: " ";
      width: 12px;
      height: 12px;
      background: url(./assets/img/arrow-right.svg) no-repeat 50% 50%;
      background-size: 12px 12px;
      padding-left: 15px;
    }
  }
}

#cfw-cart-details-review-bar {
  position: relative;
  z-index: 2;
}

#cfw-cart-details-collapse-wrap {
  padding-left: $gutter;
  position: relative;
  z-index: 2;
}

#cfw-cart-details {
  background: #f8f8f8;
  padding-left: 0;
  border-left: 0;
  padding-right: 0;

  &:before {
    content: " ";
    background: #f8f8f8;
    position: fixed;
    height: calc(100vh + 60px);
    width: 100%;
    top: 0;
    border-left: 1px solid #eee;
    z-index: 1;
  }
}

#cfw-logo-container-mobile {
  display: none;
}

@media(max-width: 770px) {
  #cfw-content {
    margin-top: 1em;
  }

  #cfw-cart-details-collapse-wrap {
    padding-left: 0;
  }

  #cfw-breadcrumb {
    display: none !important;
  }

  #cfw-logo-container {
    display: none;
  }

  #cfw-logo-container-mobile {
    display: block;
    width: calc(100% - 40px);
    margin: auto;
  }

  #cfw-cart-details {
    &:before {
      content: none;
    }
  }
}

@media(max-width: 600px) {
  #cfw-breadcrumb {
    text-align: center;
  }
}