html {
  background-color: #ffffff;
}

body {
  position: relative;
}

.cfw-tabs-not-initialized {
  #cfw-shipping-method, #cfw-payment-method {
    display: none;
  }
}

#cfw-main-container {
  display: flex;
  flex-wrap: wrap;
}

body.checkout-wc #cfw-payment-request-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & * {
    clear: none;
  }

  > div, button, > #checkout_paypal_message, > #wc-stripe-payment-request-wrapper {
    margin-right: 7px !important;
  }
}

#cfw-login-btn {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  padding: 12px 16px;
  background: #999;
  color: #f4f4f4;
  text-align: center;
  font-size: 1em;
  transition: all .2s ease;
  width: auto;

  &:hover {
    background: #232323;
  }
}

.login-optional {
  display: inline-block;
  margin-left: 10px;

  @media (max-width: 770px) {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

.woocommerce-terms-and-conditions {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 20px;

  p {
    margin-bottom: 1em;
  }
}

.woocommerce-message {
  display: none;
}

.cfw-payment-false {
  .cfw-payment-method-information-wrap, #cfw-shipping-same-billing {
    display: none;
  }

  .cfw-no-payment-method-wrap {
    display: block;
  }
}

.cfw-no-payment-method-wrap {
  margin-bottom: 60px;
  display: none;
}

.cfw-other-totals {
  text-align: left;
  color: #000;
  font-size: 0.875em;

  & > *:first-child {
    margin-bottom: 20px;
  }

  table:empty {
    margin: 0;
  }

  table,tbody,tr,th,td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    table-layout: fixed;
  }

  table {
    width: 100%;

    td, th {
      vertical-align: top;
    }

    tr:not(:first-child) {
      td, th {
        padding: 10px 0;
        color: #666;
        font-weight: normal;
      }
    }

    tr:last-child {
      td, th {
        color: #000;
        padding: 10px 0;
      }

      th {
        font-weight: normal;
      }
    }

    .form-row {
      margin-top: 0;
    }
  }

  .recurring-totals th {
    padding: 10px 0;
    padding-bottom: 20px;
    border-bottom: #eee 1px solid;
  }

  .first-payment-date {
    color: #666;
    position: relative;

    small {
      position: absolute;
      top: 20px;
    }
  }
}

#cfw-after-totals {
  tr:last-child {
    td, th {
      border-bottom: 2px solid #333;
    }

    th {
      font-weight: 700;
    }
  }
}

#cfw-billing-methods, #cfw-shipping-same-billing {

  .cfw-radio-reveal-group {
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #ddd;
    overflow: visible;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
  }

  .cfw-radio-reveal-li {
    border-top: 1px solid #ddd;
    padding: 0;

    &:first-child {
      border-top: none;
    }
  }

  .cfw-radio-reveal-title {
    padding-left: 8px;
  }

  .cfw-radio-reveal-title-wrap {
    padding: .6em 0;
    font-size: 1em;
    box-sizing: border-box;
    list-style-type: none!important;
    text-indent: 0;
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .payment_method_icons {
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      max-height: 32px;
      margin-right: 4px;

      &:last-child { margin-right: 0; }
    }

    a { display: none; }
  }

  .cfw-radio-reveal-label {
    display: flex !important;
    align-items: center;
    padding: 8px !important;
    clear: both;
    box-sizing: border-box;
    font-size: 1em;

    input[type="radio"] {
      position: relative !important;
      top: -1px !important;
    }
  }

  .cfw-radio-reveal-content-wrap {
    background: #f4f4f4;
  }

  .cfw-radio-reveal-content {
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #ddd;

    p {
      font-size: 0.825em;
      line-height: 1.25;
    }
  }

  .wc_payment_methods {
    fieldset {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      border: none;
    }

    .wc_payment_method .payment_box {
      & > * {
        margin-bottom: 15px;

        &:last-child { margin-bottom: 0; }
      }
    }
  }

  #stripe-payment-data {
    & > * {
      margin-bottom: 15px;

      &:last-child { margin-bottom: 0; }
    }

    ul {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      list-style-type: none;

      li {
        margin-bottom: 8px;

        &:last-child { margin-bottom: 0; }
      }
    }
  }
}

fieldset .cfw-sg-container:last-child > * > .form-row {
  margin-bottom: 0;
}

.cfw-sg-container > .form-row {
  margin-left: 10px;
  width: calc(100% - 20px);
}

.paytrace-create-account {
  margin-bottom: 0 !important;

  .form-row { margin-bottom: 0; }
}

#cfw-cart-details-collapse-wrap {
  display: block;
}

#stripe-card-element, #stripe-exp-element, #stripe-cvc-element {
  background: #fff !important;
  padding: .94em .8em !important;
  transition: all .2s ease !important;
  color: #333 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border: none !important;
  font-size: 16px !important;
  line-height: normal !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 1px #ddd !important;
}

#wc-stripe-cc-form .cfw-sg-container.cfw-input-wrap-row {
  //display: inline;
  box-sizing: border-box;
  width: 100%;
  //margin: 0;
}

// fix for inline form field
#stripe-payment-data .cfw-sg-container {
  margin: 0;
}

#stripe-payment-data .cfw-sg-container .cfw-column-6 {
  margin-left: 0;
}

label[for="card-element"] {
  display: none;
}

.shipping-message {
  padding-top: 10px;
}

.remove-state-down-arrow {
  & > .cfw-input-wrap:after {
    content: none;
  }
}

.cfw-shipping-methods-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 1;
  overflow: visible;
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none!important;
    text-indent: 0;
    clear: both;
    display: block;
    margin: 0;

    label {
      border-bottom: 1px solid #ddd;
      display: block;
      float: none;
      border-radius: 0px;
      padding: 8px;
      clear: both;
    }

    &:first-child {
      label {
        border-radius: 4px 4px 0px 0px;
      }
    }

    &:last-child {
      label { border: none; }
    }
  }

  input[type="radio"] {
    margin: 0 6px 5px 0;
    width: auto;
    box-sizing: border-box;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #999;
    font-size: 16px;
    line-height: normal;
  }
}

.cfw-alert {
  padding: 15px;
  margin-bottom: 2em;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;

  .message {
    line-height: 1.625;
  }

  ul {
    margin: 0;
  }
}

.cfw-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.cfw-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.7;
  z-index: 10000;
  display: none;

  .loader {
    position: absolute;
    top: 40%;
    left: 50%;
    //margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    transform: translateY(-50%) translateX(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateX(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateX(-50%) translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #999999, 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.5), -1.8em -1.8em 0 0em rgba(153,153,153, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.7), 1.8em -1.8em 0 0em #999999, 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.5), 1.8em -1.8em 0 0em rgba(153,153,153, 0.7), 2.5em 0em 0 0em #999999, 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.5), 2.5em 0em 0 0em rgba(153,153,153, 0.7), 1.75em 1.75em 0 0em #999999, 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.5), 1.75em 1.75em 0 0em rgba(153,153,153, 0.7), 0em 2.5em 0 0em #999999, -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.5), 0em 2.5em 0 0em rgba(153,153,153, 0.7), -1.8em 1.8em 0 0em #999999, -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.5), -1.8em 1.8em 0 0em rgba(153,153,153, 0.7), -2.6em 0em 0 0em #999999, -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.5), -2.6em 0em 0 0em rgba(153,153,153, 0.7), -1.8em -1.8em 0 0em #999999;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #999999, 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.5), -1.8em -1.8em 0 0em rgba(153,153,153, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.7), 1.8em -1.8em 0 0em #999999, 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.5), 1.8em -1.8em 0 0em rgba(153,153,153, 0.7), 2.5em 0em 0 0em #999999, 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.5), 2.5em 0em 0 0em rgba(153,153,153, 0.7), 1.75em 1.75em 0 0em #999999, 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.5), 1.75em 1.75em 0 0em rgba(153,153,153, 0.7), 0em 2.5em 0 0em #999999, -1.8em 1.8em 0 0em rgba(153,153,153, 0.2), -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.5), 0em 2.5em 0 0em rgba(153,153,153, 0.7), -1.8em 1.8em 0 0em #999999, -2.6em 0em 0 0em rgba(153,153,153, 0.2), -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.5), -1.8em 1.8em 0 0em rgba(153,153,153, 0.7), -2.6em 0em 0 0em #999999, -1.8em -1.8em 0 0em rgba(153,153,153, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(153,153,153, 0.2), 1.8em -1.8em 0 0em rgba(153,153,153, 0.2), 2.5em 0em 0 0em rgba(153,153,153, 0.2), 1.75em 1.75em 0 0em rgba(153,153,153, 0.2), 0em 2.5em 0 0em rgba(153,153,153, 0.2), -1.8em 1.8em 0 0em rgba(153,153,153, 0.5), -2.6em 0em 0 0em rgba(153,153,153, 0.7), -1.8em -1.8em 0 0em #999999;
    }
  }
}

.cfw-cart-variation {
  font-size: 0.875em;
  margin-top: 4px;
}

.show-overlay {
  .overlay {
    display: block;
  }
}

.wc-stripe-error {
  display: none;
}

#cfw-alert-container, #cfw-wc-print-notices {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}

#cfw-deductors-list {
  .cfw-input-wrap-row {
    margin-bottom: 1.25em;
  }

  .cfw-input-wrap {
    & > input[type="text"], & > input[type="tel"], & > input[type="email"], & > input[type="password"] {
      font-size: 14px;
    }
  }
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #f04f63;
  font-weight: 300;
  font-size: 14px;

  li {
    margin-top: 10px;
  }
}

.parsley-error {
  box-shadow: 0 0 0 2px #f04f63!important;
}

#cfw-cart-details-review-bar {
  display: none;
}

#cfw-totals-list {
  padding-top: 1em;

  .cfw-flex-row {
    padding: 10px 0;
  }

  .type {
    font-size: 14px;
  }

  .cfw-totals-normal .cfw-flex-row {
    &:last-child {
      border-bottom: none;
    }
  }

  .cfw-totals-total .cfw-flex-row {
    margin-top: 1em;
    border-top: 2px solid #333;
    font-weight: 700;
    color: #000;
  }

  .place-order {
    display: none;
    margin-top: 1em;
    text-align: right;
  }
}

.payment-tab-active #cfw-totals-list .place-order {
  display: block;
}

.cfw-flex-row {
  display: flex;
}

.cfw-flex-justify {
  justify-content: space-between;
}

.cfw-cart-item-subtotal {
  text-align: right;
}

.cfw-extra-desc-row span {
  color: #9e9e9e;
  font-size: 0.85em;
}

.cfw-select-input:after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256"/></svg>') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 50%;
  transform: translateY(calc(-50% + 2px)) rotate(90deg);
}

.kill-bottom-margin {
  margin-bottom: 0 !important;
}

p.cfw-input-wrap {
  margin-bottom: 0;
}

.cfw-input-wrap {
  position: relative;

  &.cfw-floating-label {
    input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
      padding: 1.35em 0.8em 0.28em 0.8em;
    }

    .cfw-input-label {
      opacity: 1;
    }
  }

  ::-webkit-input-placeholder {
    color: #737373 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #737373 !important;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: #737373 !important;
  }
  :-ms-input-placeholder {
    color: #737373 !important;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select {

  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: #fff;
  transition: all .2s ease;
  color: #333;
  padding: .80em .8em;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: normal;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #ddd;

  &::placeholder {
    color: #ccc;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c7c7c7;
  }
}

#cfw-shipping-info-action {
  justify-content: space-between;
}

#cfw-shipping-details-fields {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.cfw-prev-tab {
  transition: all .2s ease;
  color: #9e9e9e;
  text-decoration: none;
}

.cfw-bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.cfw-bottom-controls, .place-order {
  .cfw-primary-btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: #232323;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 19px 15px;

    &:hover {
      background: #ddd;
      color: #666;
    }
  }
}

.cfw-def-action-btn, a.button {
  border: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px 16px;
  font-size: 1em;
  background: #999;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  transition: all .1s ease-in-out;

  &:hover {
    background: #000;
  }
}

a.button {
  width: auto;
  text-decoration: none;
}

.cfw-cart-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.7em;

  .cfw-cart-item-image {
    line-height: 0;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      border-radius: 3px;
      border: 1px solid #e1e1e1;
    }
  }

  .cfw-cart-item-title {
  }
}

div.variation-data-wrapper {
  font-size: 14px;
  line-height: 1;
  padding-top: 0.7em;

  div.variation-data {
    width: 100px;
    float: left;
    margin-bottom: 0.4em;
    margin-right: 0.4em;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .variation-data-key {
    font-weight: bold;
  }

  p {
    font-size: inherit;
    display: inherit;
  }
}


.cfw-input-container {
  .cfw-input-wrap {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cfw-module {
  margin-bottom: 1.8em;
}

.cfw-input-label {
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: #737373;
  transition: all .2s ease-out;
  font-size: 12px;
  margin-top: .25em;
  padding: 0 1.02em;
  line-height: 1.625;
  opacity: 0;

  abbr[title] {
    text-decoration: none;
  }
}
.cfw-module-title {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
  margin-bottom: 0.6em;
}

.cfw-shipping-package-title {
  font-weight: 300;
  color: #333;
  font-size: 1.1em;
}

.cfw-have-acc-text {
  margin-bottom: 0.6em;
}

.cfw-left-column {
  order: 0;
}

.cfw-right-column {
  order: 1;
  border-left: 1px solid #eee;
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
}

#cfw-main-container {
  .apple-pay-button-checkout-separator {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: none;
  }

  .apple-pay-button-wrapper {
    text-align: center;
    margin-bottom: 10px;
  }
}

.pay-button-separator {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  &:before, &:after {
    content: '';
    display: inline-block;
    height: 1px;
    background: #e6e6e6;
    flex-grow: 1
  }

  span {
    padding: 0 1em;
    text-transform: none;
  }
}

textarea {
  width: 100%;
  height: 75px;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.cfw-additional-information {
  margin-bottom: 20px;

  &:last-child { margin-bottom: 0; }
}

.cfw-additional-fields-container {
  margin-bottom: 20px;
}

.cfw-input-wrap-row > div > .form-row {
  margin-left: 10px;
}

@media (max-width: 770px) {
  #cfw-content, #cfw-header {
    margin-top: 0;

    .cfw-logo {
      padding: 0;

      .logo {
        text-align: center;
        margin: 1em auto;
        display: block;
      }
    }
  }

  .cfw-prev-tab {
    margin-bottom: 1em;
    display: inline-block;
  }

  .cfw-other-totals {

    & > *:first-child {
      margin-top: 20px;
    }
  }

  #wc-stripe-cc-form {
    .cfw-sg-container > div[class^="cfw-column"] {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.3em;
    }
  }

  .previous-button {
    text-align: center;
  }

  #cfw-cart-details-review-bar {
    display: flex;
    margin-bottom: 0;
    line-height: normal;
    align-items: center;

    & > div:first-child {
      display: flex;
      margin: 0;
      width: 65%;

      &:hover {
        #cfw-cart-details-arrow, a {
          fill: #d79915;
          color: #d79915;
        }
      }
    }

    & > div:last-child {
      text-align: right;
      margin: 0;
      width: 35%;
    }

    a {
      text-decoration: none;
      color: #ebb134;
    }
  }

  #cfw-cart-details-collapse-wrap {
    display: none;
    margin-top: 20px;
  }

  #cfw-cart-list {
    .cfw-cart-row .cfw-cart-item-col {
      margin-left: 20px;
    }
  }

  #cfw-cart-list .cfw-cart-row {
    & > div:first-child {
      margin-left: 0;
      width: 18%;
    }

    & > div:nth-child(2) {
      width: 64%;
    }

    & > div:last-child {
      margin-right: 0;
      width: 18%;
    }
  }

  #cfw-cart-details-review-bar, #cfw-cart-list .cfw-cart-row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #cfw-show-cart-details {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  #cfw-cart-details-arrow {
    transition: all .2s linear;
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 6px;
    fill: #ebb134;
  }

  #cfw-totals-list {
    margin-bottom: 0;
  }

  #cfw-tab-container {
    order: 1;
    padding-left: 0;
    padding-right: 0;
  }

  #cfw-cart-details, #cfw-tab-container {
    overflow: hidden;
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }

  .checkout-wc #cfw-cart-details {
    order: 0;
    border-left: none;
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;

    &.active {

      #cfw-cart-details-arrow {
        transform: rotate(-90deg);
      }
    }
  }

  #cfw-breadcrumb {
    display: none;
  }

  .cfw .cfw-input-wrap-row {
    & > div {
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1em;
    }

    &:last-child {
      & > div {
        margin-bottom: 0;
      }
    }

    margin: 0;
    width: 100%;
  }

  .cfw .wc-credit-card-form .cfw-input-wrap-row {
    & > div {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cfw-bottom-controls {
    flex-direction: column;

    .cfw-primary-btn {
      width: 100%;
      text-align: center;
    }
  }
}

@media(max-width: 600px) {
  .state-gone-margin {
    margin-bottom: 0 !important;
  }

  #cfw-billing-fields-container .cfw-input-wrap-row:last-child > .address-field {
    margin-bottom: 0;
  }

  #cfw-billing-methods .payment_method_icons {
    display: none !important;
  }
}

@media(max-width: 445px) {
  //body {
  //  font-size: 0.75em;
  //}

  #cfw-cart-list .cfw-cart-item-image {
    width: calc(60% - 40px);
  }

  #cfw-cart-details-arrow {
    width: 16px;
    height: 16px;
  }
}