$wrap-row-bot-margin: map-get($grid-sg, gutter) * 1.25;

#cfw-content {
  .wrap { padding: 2em 0; }
}

#cfw-main-container {
  display: flex;
  flex-wrap: wrap;
}

#cfw-login-slide {
  display: none;
  margin-bottom: $wrap-row-bot-margin;
}

#cfw-login-btn {
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  padding: 12px 16px;
  background: #999;
  color: #f4f4f4;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  width: auto;
}

#cfw-billing-methods, #cfw-shipping-same-billing {

  .cfw-radio-reveal-group {
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #ddd;
    overflow: visible;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
  }

  .cfw-radio-reveal-li {
    border-top: 1px solid #ddd;
    padding: 0;

    &:first-child {
      border-top: none;
    }
  }

  .cfw-radio-reveal-title {
    padding-left: 8px;
  }

  .cfw-radio-reveal-title-wrap {
    padding: .6em 0;
    font-size: 1em;
    box-sizing: border-box;
    list-style-type: none!important;
    text-indent: 0;
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .payment_method_icons {
    padding-right: 8px;
    display: flex;
    align-items: center;

    img { max-height: 32px; }
    a { display: none; }
  }

  .cfw-radio-reveal-label {
    display: flex;
    align-items: center;
    padding: 8px;
    clear: both;
    box-sizing: border-box;
    font-size: 1em;
  }

  .cfw-radio-reveal-content-wrap {
    background: #f4f4f4;
  }

  .cfw-radio-reveal-content {
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #ddd;
  }

  #stripe-payment-data {
    & > * {
      margin-bottom: 15px;

      &:last-child { margin-bottom: 0; }
    }

    #wc-stripe-cc-form, .woocommerce-SavedPaymentMethods-saveNew {
      display: none;
    }

    fieldset {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      border: none;
    }

    ul {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      list-style-type: none;

      li {
        margin-bottom: 8px;

        &:last-child { margin-bottom: 0; }
      }
    }
  }
}

#cfw-breadcrumb {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
  display: flex;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > a {
      text-decoration: none;
      color: #333;
    }

    &:not(.active) > a {
      color: rgba(0,0,0,0.5);
    }

    &:not(:last-child):after {
      content: " ";
      width: 15px;
      height: 15px;
      background: url('../img/arrow-right.svg') no-repeat 50% 50%;
      background-size: 15px 15px;
      padding-left: 15px;
    }
  }
}

.cfw-shipping-methods-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 1;
  overflow: visible;
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none!important;
    text-indent: 0;
    clear: both;
    display: block;
    padding: 4px 0;
    margin: 0;

    &:last-child {
      label { border: none; }
    }
  }

  label {
    border-bottom: 1px solid #ddd;
    display: block;
    float: none;
    border-radius: 4px;
    padding: 8px;
    clear: both;
  }

  input[type="radio"] {
    margin: 0 6px 5px 0;
    width: auto;
    box-sizing: border-box;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #eee inset;
    color: #999;
    font-size: 16px;
    line-height: normal;
  }
}

.cfw-alert {
  padding: 15px;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;

  .message {
    line-height: 1.625;
  }
}

.cfw-alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.cfw-input-wrap-row {
  margin-bottom: $wrap-row-bot-margin;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

#cfw-deductors-list {
  .cfw-input-wrap-row {
    margin-bottom: 1.25em;
  }

  .cfw-input-wrap {
    & > input[type="text"], & > input[type="password"] {
      font-size: 14px;
    }
  }
}

#cfw-totals-list {
  .cfw-flex-row {
    padding: 14px 0;
  }

  .cfw-totals-normal .cfw-flex-row {
    border-bottom: #eee 1px solid;

    &:last-child {
      border-bottom: none;
    }
  }

  .cfw-totals-total .cfw-flex-row {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-weight: 700;
    color: #000;
  }
}

.cfw-flex-row {
  display: flex;
}

.cfw-flex-justify {
  justify-content: space-between;
}

.cfw-cart-item-subtotal {
  text-align: right;
}

.cfw-extra-desc-row span {
  color: #9e9e9e;
  font-size: 0.85em;
}

.cfw-select-input:after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256"/></svg>') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 50%;
  transform: translateY(calc(-50% + 2px)) rotate(90deg);
}

.kill-bottom-margin {
  margin-bottom: 0 !important;
}

.cfw-input-wrap {
  position: relative;

  &.cfw-floating-label {
    input[type="text"], input[type="tel"], input[type="password"], select {
      padding: 1.6em 0.8em 0.28em 0.8em;
    }

    .cfw-input-label {
      opacity: 1;
    }
  }

  & > input[type="text"],
  & > input[type="tel"],
  & > input[type="number"],
  & > input[type="password"],
  select {
    appearance: none;
    background: #fff;
    transition: all .2s ease;
    color: #333;
    padding: .94em .8em;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: normal;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ddd;

    &::placeholder {
      color: #ccc;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #c7c7c7;
    }
  }
}

#cfw-shipping-info-action {
  justify-content: flex-end;
}

#cfw-shipping-details-fields {
  margin-bottom: 15px;

  label {
    width: 100px;
    display: table-cell;
    font-weight: 700;
  }

  span {
    display: table-cell;
  }
}

.cfw-prev-tab {
  transition: all .2s ease;
  color: #9e9e9e;
  line-height: 64px;
}

.cfw-bottom-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;

  .cfw-primary-btn {
    display: inline-block;
    text-decoration: none;
    background: #ebb134;
    color: #1d1503;
    border-radius: 0;
    border: none;
    border: 1px solid #d79915;
    font-size: 14px;
    font-size: 1.25rem;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 19px 15px;

    &:hover {
      background: #ddd;
      border: 1px solid #c4c4c4;
      color: #666;
    }
  }
}

.cfw-def-action-btn {
  border: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 300;
  background: #999;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  transition: all .1s ease-in-out;

  &:hover {
    background: #000;
  }
}

.cfw-cart-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.7em;

  .cfw-cart-item-image {
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      border-radius: 3px;
      border: 1px solid #e1e1e1;
    }
  }
}

.cfw-input-container {
  .cfw-input-wrap {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cfw-module {
  margin-bottom: 1.8em;
}

.cfw-input-label {
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: #9e9e9e;
  transition: all .2s ease-out;
  font-size: 12px;
  margin-top: .5em;
  padding: 0 1.02em;
  line-height: 1.625;
  opacity: 0;
}
.cfw-module-title {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
  margin-bottom: 0.6em;
}

.cfw-have-acc-text {
  margin-bottom: 0.6em;
}

.cfw-left-column {
  order: 0;
}

.cfw-right-column {
  order: 1;
  border-left: 1px solid #ddd;
  padding: 30px;
  box-sizing: border-box;
}