#cfw-header {
  background: $header-bg;
}

@media(max-width: 770px) {
  #cfw-logo-container {
    text-align: center;
  }

  .checkout-wc .cfw-logo {
    .logo {
      background-position: center center;
    }
  }
}