#cfw-header {
  background: $header-bg;
  border-bottom: 1px solid #eee;
}

@media(max-width: 767px) {
  #cfw-logo-container {
    text-align: center;
  }

  #cfw-logo {
    display: inline-block;
  }
}