@import url(../../../assets/global/bower/normalize-css/normalize.css);
.cfw-container::after {
  clear: both;
  content: "";
  display: block; }

.cfw-collapse {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px); }

.cfw-column-1 {
  width: calc(8.33333% - 21.66667px);
  float: left;
  margin-left: 20px; }

.cfw-column-2 {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px; }

.cfw-column-3 {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }

.cfw-column-4 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }

.cfw-column-5 {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px; }

.cfw-column-6 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

.cfw-column-7 {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px; }

.cfw-column-8 {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px; }

.cfw-column-9 {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px; }

.cfw-column-10 {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px; }

.cfw-column-11 {
  width: calc(91.66667% - 38.33333px);
  float: left;
  margin-left: 20px; }

.cfw-column-12 {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.cfw-sg-container {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px); }
  .cfw-sg-container .cfw-column-1 {
    width: calc(8.33333% - 10.83333px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-2 {
    width: calc(16.66667% - 11.66667px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-3 {
    width: calc(25% - 12.5px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-4 {
    width: calc(33.33333% - 13.33333px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-5 {
    width: calc(41.66667% - 14.16667px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-6 {
    width: calc(50% - 15px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-7 {
    width: calc(58.33333% - 15.83333px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-8 {
    width: calc(66.66667% - 16.66667px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-9 {
    width: calc(75% - 17.5px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-10 {
    width: calc(83.33333% - 18.33333px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-11 {
    width: calc(91.66667% - 19.16667px);
    float: left;
    margin-left: 10px; }
  .cfw-sg-container .cfw-column-12 {
    width: calc(100% - 20px);
    float: left;
    margin-left: 10px; }

p {
  margin: 0; }

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.wrap {
  max-width: 1180px;
  margin: auto; }

.cfw-small {
  font-size: 0.875em;
  color: #737375; }

.cfw-logo {
  padding: 1em 0; }
  .cfw-logo .logo {
    background: #ffffff;
    width: 120px;
    display: inline-block;
    height: 90px;
    position: relative; }
    .cfw-logo .logo:after {
      content: "CFW";
      position: absolute;
      color: #222;
      font-weight: 900;
      font-size: 2.25em;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.15em;
      text-indent: 0.15em;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.cfw-link {
  color: #e9a81d;
  text-decoration: none; }

.cfw-module-title {
  margin: 0; }

#cfw-header {
  background: #222;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }

#cfw-content .wrap {
  padding: 2em 0; }

#cfw-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#cfw-login-slide {
  display: none;
  margin-bottom: 12.5px; }

#cfw-login-btn {
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  padding: 12px 16px;
  background: #999;
  color: #f4f4f4;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  width: auto; }

#cfw-billing-methods .cfw-radio-reveal-group, #cfw-shipping-same-billing .cfw-radio-reveal-group {
  line-height: 1;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: visible;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px; }

#cfw-billing-methods .cfw-radio-reveal-li, #cfw-shipping-same-billing .cfw-radio-reveal-li {
  border-top: 1px solid #ddd;
  padding: 0; }
  #cfw-billing-methods .cfw-radio-reveal-li:first-child, #cfw-shipping-same-billing .cfw-radio-reveal-li:first-child {
    border-top: none; }

#cfw-billing-methods .cfw-radio-reveal-title, #cfw-shipping-same-billing .cfw-radio-reveal-title {
  padding-left: 8px; }

#cfw-billing-methods .cfw-radio-reveal-title-wrap, #cfw-shipping-same-billing .cfw-radio-reveal-title-wrap {
  padding: .6em 0;
  font-size: 1em;
  box-sizing: border-box;
  list-style-type: none !important;
  text-indent: 0;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0; }

#cfw-billing-methods .payment_method_icons, #cfw-shipping-same-billing .payment_method_icons {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #cfw-billing-methods .payment_method_icons img, #cfw-shipping-same-billing .payment_method_icons img {
    max-height: 32px; }
  #cfw-billing-methods .payment_method_icons a, #cfw-shipping-same-billing .payment_method_icons a {
    display: none; }

#cfw-billing-methods .cfw-radio-reveal-label, #cfw-shipping-same-billing .cfw-radio-reveal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  clear: both;
  box-sizing: border-box;
  font-size: 1em; }

#cfw-billing-methods .cfw-radio-reveal-content-wrap, #cfw-shipping-same-billing .cfw-radio-reveal-content-wrap {
  background: #f4f4f4; }

#cfw-billing-methods .cfw-radio-reveal-content, #cfw-shipping-same-billing .cfw-radio-reveal-content {
  padding: 20px 10px 20px 10px;
  border-top: 1px solid #ddd; }

#cfw-billing-methods #stripe-payment-data > *, #cfw-shipping-same-billing #stripe-payment-data > * {
  margin-bottom: 15px; }
  #cfw-billing-methods #stripe-payment-data > *:last-child, #cfw-shipping-same-billing #stripe-payment-data > *:last-child {
    margin-bottom: 0; }

#cfw-billing-methods #stripe-payment-data #wc-stripe-cc-form, #cfw-billing-methods #stripe-payment-data .woocommerce-SavedPaymentMethods-saveNew, #cfw-shipping-same-billing #stripe-payment-data #wc-stripe-cc-form, #cfw-shipping-same-billing #stripe-payment-data .woocommerce-SavedPaymentMethods-saveNew {
  display: none; }

#cfw-billing-methods #stripe-payment-data fieldset, #cfw-shipping-same-billing #stripe-payment-data fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: none; }

#cfw-billing-methods #stripe-payment-data ul, #cfw-shipping-same-billing #stripe-payment-data ul {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  list-style-type: none; }
  #cfw-billing-methods #stripe-payment-data ul li, #cfw-shipping-same-billing #stripe-payment-data ul li {
    margin-bottom: 8px; }
    #cfw-billing-methods #stripe-payment-data ul li:last-child, #cfw-shipping-same-billing #stripe-payment-data ul li:last-child {
      margin-bottom: 0; }

#cfw-breadcrumb {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #cfw-breadcrumb li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #cfw-breadcrumb li > a {
      text-decoration: none;
      color: #333; }
    #cfw-breadcrumb li:not(.active) > a {
      color: rgba(0, 0, 0, 0.5); }
    #cfw-breadcrumb li:not(:last-child):after {
      content: " ";
      width: 15px;
      height: 15px;
      background: url("../img/arrow-right.svg") no-repeat 50% 50%;
      background-size: 15px 15px;
      padding-left: 15px; }

.cfw-shipping-methods-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 1;
  overflow: visible;
  margin-left: 0;
  padding-left: 0; }
  .cfw-shipping-methods-list li {
    list-style-type: none !important;
    text-indent: 0;
    clear: both;
    display: block;
    padding: 4px 0;
    margin: 0; }
    .cfw-shipping-methods-list li:last-child label {
      border: none; }
  .cfw-shipping-methods-list label {
    border-bottom: 1px solid #ddd;
    display: block;
    float: none;
    border-radius: 4px;
    padding: 8px;
    clear: both; }
  .cfw-shipping-methods-list input[type="radio"] {
    margin: 0 6px 5px 0;
    width: auto;
    box-sizing: border-box;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #eee inset;
    color: #999;
    font-size: 16px;
    line-height: normal; }

.cfw-alert {
  padding: 15px;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none; }
  .cfw-alert .message {
    line-height: 1.625; }

.cfw-alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

.cfw-input-wrap-row {
  margin-bottom: 12.5px; }
  .cfw-input-wrap-row:after {
    content: "";
    clear: both;
    display: table; }
  .cfw-input-wrap-row:last-child {
    margin-bottom: 0; }

#cfw-deductors-list .cfw-input-wrap-row {
  margin-bottom: 1.25em; }

#cfw-deductors-list .cfw-input-wrap > input[type="text"], #cfw-deductors-list .cfw-input-wrap > input[type="password"] {
  font-size: 14px; }

#cfw-totals-list .cfw-flex-row {
  padding: 14px 0; }

#cfw-totals-list .cfw-totals-normal .cfw-flex-row {
  border-bottom: #eee 1px solid; }
  #cfw-totals-list .cfw-totals-normal .cfw-flex-row:last-child {
    border-bottom: none; }

#cfw-totals-list .cfw-totals-total .cfw-flex-row {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  font-weight: 700;
  color: #000; }

.cfw-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.cfw-flex-justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cfw-cart-item-subtotal {
  text-align: right; }

.cfw-extra-desc-row span {
  color: #9e9e9e;
  font-size: 0.85em; }

.cfw-select-input:after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256"/></svg>') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 2px)) rotate(90deg);
          transform: translateY(calc(-50% + 2px)) rotate(90deg); }

.kill-bottom-margin {
  margin-bottom: 0 !important; }

.cfw-input-wrap {
  position: relative; }
  .cfw-input-wrap.cfw-floating-label input[type="text"], .cfw-input-wrap.cfw-floating-label input[type="tel"], .cfw-input-wrap.cfw-floating-label input[type="password"], .cfw-input-wrap.cfw-floating-label select {
    padding: 1.6em 0.8em 0.28em 0.8em; }
  .cfw-input-wrap.cfw-floating-label .cfw-input-label {
    opacity: 1; }
  .cfw-input-wrap > input[type="text"],
  .cfw-input-wrap > input[type="tel"],
  .cfw-input-wrap > input[type="number"],
  .cfw-input-wrap > input[type="password"],
  .cfw-input-wrap select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #fff;
    transition: all .2s ease;
    color: #333;
    padding: .94em .8em;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: normal;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ddd; }
    .cfw-input-wrap > input[type="text"]::-webkit-input-placeholder,
    .cfw-input-wrap > input[type="tel"]::-webkit-input-placeholder,
    .cfw-input-wrap > input[type="number"]::-webkit-input-placeholder,
    .cfw-input-wrap > input[type="password"]::-webkit-input-placeholder,
    .cfw-input-wrap select::-webkit-input-placeholder {
      color: #ccc; }
    .cfw-input-wrap > input[type="text"]:-ms-input-placeholder,
    .cfw-input-wrap > input[type="tel"]:-ms-input-placeholder,
    .cfw-input-wrap > input[type="number"]:-ms-input-placeholder,
    .cfw-input-wrap > input[type="password"]:-ms-input-placeholder,
    .cfw-input-wrap select:-ms-input-placeholder {
      color: #ccc; }
    .cfw-input-wrap > input[type="text"]::placeholder,
    .cfw-input-wrap > input[type="tel"]::placeholder,
    .cfw-input-wrap > input[type="number"]::placeholder,
    .cfw-input-wrap > input[type="password"]::placeholder,
    .cfw-input-wrap select::placeholder {
      color: #ccc; }
    .cfw-input-wrap > input[type="text"]:focus,
    .cfw-input-wrap > input[type="tel"]:focus,
    .cfw-input-wrap > input[type="number"]:focus,
    .cfw-input-wrap > input[type="password"]:focus,
    .cfw-input-wrap select:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #c7c7c7; }

#cfw-shipping-info-action {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

#cfw-shipping-details-fields {
  margin-bottom: 15px; }
  #cfw-shipping-details-fields label {
    width: 100px;
    display: table-cell;
    font-weight: 700; }
  #cfw-shipping-details-fields span {
    display: table-cell; }

.cfw-prev-tab {
  transition: all .2s ease;
  color: #9e9e9e;
  line-height: 64px; }

.cfw-bottom-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em; }
  .cfw-bottom-controls .cfw-primary-btn {
    display: inline-block;
    text-decoration: none;
    background: #ebb134;
    color: #1d1503;
    border-radius: 0;
    border: none;
    border: 1px solid #d79915;
    font-size: 14px;
    font-size: 1.25rem;
    font-weight: 400;
    transition: all .3s ease-in-out;
    padding: 19px 15px; }
    .cfw-bottom-controls .cfw-primary-btn:hover {
      background: #ddd;
      border: 1px solid #c4c4c4;
      color: #666; }

.cfw-def-action-btn {
  border: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 300;
  background: #999;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  transition: all .1s ease-in-out; }
  .cfw-def-action-btn:hover {
    background: #000; }

.cfw-cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.7em; }
  .cfw-cart-row .cfw-cart-item-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid #e1e1e1; }

.cfw-input-container .cfw-input-wrap {
  margin-bottom: 1em; }
  .cfw-input-container .cfw-input-wrap:last-child {
    margin-bottom: 0; }

.cfw-module {
  margin-bottom: 1.8em; }

.cfw-input-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  color: #9e9e9e;
  transition: all .2s ease-out;
  font-size: 12px;
  margin-top: .5em;
  padding: 0 1.02em;
  line-height: 1.625;
  opacity: 0; }

.cfw-module-title {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
  margin-bottom: 0.6em; }

.cfw-have-acc-text {
  margin-bottom: 0.6em; }

.cfw-left-column {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.cfw-right-column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-left: 1px solid #ddd;
  padding: 30px;
  box-sizing: border-box; }

#cfw-footer {
  text-align: center;
  background: #eaeaea; }

/*# sourceMappingURL=checkout-woocommerce-front.css.map */
