// Import bourbon
@import "../resources/bourbon/bourbon";
@import "../resources/neat/neat";

@import "../resources/grid/grid";

// Reset
@import "debug.scss";

// Fonts
//@import "../fonts/akrobat/fonts.css";
//@import "../fonts/proxima-nova/fonts.css";

// General Styles
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$main-bg: #ffffff;
$header-bg: #222;
$footer-bg: #fff;
$wrap-width: 1140px + map-get($grid, gutter) * 2;

p {
  margin: 0;
}

.cart-empty, .return-to-shop {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  background: $main-bg;
  font-family: $font-family;
  display: flex;
  color: #666;
  flex-direction: column;
  width: 100%;
}

.wrap {
  max-width: $wrap-width;
  margin: auto;
}

.cfw-small {
  font-size: 0.875em;
  color: #737373;
  //font-size: 14px;
}

.cfw-logo {
  padding: 2em 0;

  .logo {
    background: $main-bg;
    width: 100%;
    display: inline-block;
    height: 4em;
    position: relative;
  }
}

.cfw-link {
  color: #e9a81d;
  text-decoration: none;
}

.cfw-module-title {
  margin: 0;
}

// Import parts
@import "compatibility/checkout-add-ons";
@import "compatibility/paytrace-gateway";
@import "compatibility/paypal-express";
@import "compatibility/tickera";
@import "template/header";
@import "template/content";
@import "template/footer";