#amazon_addressbook_widget, #amazon_wallet_widget, #amazon_consent_widget {
  iframe {
    border: none !important;
  }
}

#cfw-main-container.has-overlay {
  position: relative;
  overflow: hidden;

  .amazon-pay-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    z-index: 99999;
  }

  .widget-container {
    max-height: 300px;
  }
}

#cfw-payment-request-buttons {

  .wc-amazon-payments-advanced-info {
    text-indent: -9999999px;
    background: none;
    padding: 0;
    clear: none;
    border: none;
    border-radius: 0;
    overflow: hidden;
    display: block;
    margin: 4px;

    #pay_with_amazon {
      float: left;
      margin: 0;
      line-height: 0;
      max-width: 150px;

      img {
        width: 100% !important;
        height: auto;
      }
    }
  }
}