#cielo-installments, #cielo-card-number, #cielo-card-holder-name, #cielo-card-expiry, #cielo-card-cvc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}