$klarna-btn-color: #e4eeed;
$klarna-fill-color: #000000;

#klarna-pay-button {
  background: $klarna-btn-color;
  border: none;
  width: 140px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;

  &:hover {
    background: darken($klarna-btn-color, 8%);
  }

  span {
    color: $klarna-fill-color;
    font-size: 0.75em;
  }

  svg {
    max-width: 50px;
    height: 100%;
    width: 100%;
    display: block;
    margin-left: 6px;

    path, rect {
      fill: $klarna-fill-color;
    }
  }
}