#cfw-payment-request-buttons {

  #wc-stripe-payment-request-wrapper {
    padding-top: 0 !important;
    clear: none !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    order: 2;
    width: 140px;
  }

}